#@yaml/text-templated-strings


#@ drives = [
#@     'Niro115-HQ/2023-05-16--10-47-33',
#@     'Niro104-HQ/2022-12-20--13-57-20',
#@     'Niro107-HQ/2023-05-12--12-05-15',
#@     'Niro122-HQ/2023-04-05--12-06-39',
#@     'Niro102-HQ/2022-12-03--11-30-20',
#@ ]

#@ all_drives = [
#@     'Niro104-HQ/2022-12-20--13-57-20',
#@     'Niro104-HQ/2023-04-27--08-23-53',
#@     'Niro115-HQ/2023-05-16--10-47-33',
#@     'Niro131-HQ/2023-06-14--14-05-20',
#@     'Niro112-HQ/2023-06-16--09-18-20',
#@     'Niro131-HQ/2023-06-15--11-00-06',
#@     'Niro115-HQ/2023-06-14--15-07-09',
#@     'Niro115-HQ/2023-04-07--06-57-46',
#@     'Niro115-HQ/2023-06-20--06-33-30',
#@     'Niro115-HQ/2023-06-21--06-26-42',
#@     'NIRO107-HQ/2024-11-25--14-57-32',
#@     'Niro115-HQ/2023-06-15--06-10-31',
#@     'Niro115-HQ/2023-06-13--07-55-14',
#@     'Niro115-HQ/2023-06-17--05-36-31',
#@     'Niro111-HQ/2023-06-13--12-48-50',
#@     'Niro115-HQ/2023-06-15--04-43-02',
#@     'Niro111-HQ/2023-06-13--10-26-57',
#@     'Niro115-HQ/2023-06-11--10-18-17',
#@     'Niro111-HQ/2023-06-15--05-24-51',
#@     'Niro115-HQ/2023-06-15--04-03-05',
#@     'NIRO107-HQ/2024-11-06--15-26-02',
#@     'Niro112-HQ/2023-06-13--13-44-01',
#@     'Niro122-HQ/2023-06-20--15-07-42',
#@     'Niro101-HQ/2023-06-15--14-38-28',
#@     'NIRO107-HQ/2024-11-07--08-54-33',
#@     'NIRO107-HQ/2024-11-06--15-06-48',
#@     'Niro111-HQ/2023-06-19--09-50-30',
#@     'Niro122-HQ/2023-06-12--16-19-41',
#@     'Niro105-HQ/2023-06-12--08-53-50',
#@     'Niro111-HQ/2023-06-18--07-08-29',
#@     'NIRO107-HQ/2024-11-07--10-25-22',
#@     'Niro105-HQ/2023-06-15--05-10-16',
#@     'Niro101-HQ/2023-06-19--13-54-27',
#@     'NIRO107-HQ/2024-11-06--09-16-01',
#@     'Niro115-HQ/2023-06-21--04-51-44',
#@     'Niro115-HQ/2023-06-10--05-58-08',
#@     'Niro111-HQ/2023-06-16--09-13-44',
#@     'Niro101-HQ/2023-06-20--11-51-59',
#@     'Niro115-HQ/2023-05-13--07-05-58',
#@     'Niro111-HQ/2023-06-12--05-32-28',
#@     'Niro101-HQ/2023-06-21--05-47-38',
#@     'Niro101-HQ/2023-06-21--08-03-24',
#@     'Niro104-HQ/2023-06-12--13-59-01',
#@     'Niro111-HQ/2023-06-16--05-48-43',
#@     'Niro115-HQ/2023-06-18--11-21-39',
#@     'Niro111-HQ/2023-06-14--10-47-35',
#@     'Niro101-HQ/2023-06-14--07-35-30',
#@     'Niro111-HQ/2023-06-21--08-44-38',
#@     'Niro115-HQ/2023-06-17--10-07-47',
#@     'Niro114-HQ/2023-06-14--10-05-42',
#@     'Niro111-HQ/2023-06-12--12-39-57',
#@     'Niro111-HQ/2023-06-21--09-59-20',
#@     'Niro111-HQ/2023-06-18--11-34-27',
#@     'Niro106-HQ/2023-06-15--09-53-55',
#@     'Niro101-HQ/2023-06-21--14-40-07',
#@     'Niro115-HQ/2023-06-18--08-12-44',
#@     'Niro122-HQ/2023-06-14--11-16-59',
#@     'Niro106-HQ/2023-06-12--16-22-06',
#@     'Niro112-HQ/2023-06-19--16-17-37',
#@     'Niro101-HQ/2023-06-13--05-30-18',
#@     'Niro111-HQ/2023-06-19--05-27-50',
#@     'Niro111-HQ/2023-06-13--11-58-45',
#@     'Niro105-HQ/2023-06-20--04-51-53',
#@     'Niro110-HQ/2023-06-09--13-18-28',
#@     'Niro112-HQ/2023-06-19--12-20-56',
#@     'Niro110-HQ/2023-06-14--14-01-13',
#@     'Niro122-HQ/2023-06-12--04-49-22',
#@     'Niro101-HQ/2023-06-13--13-29-03',
#@     'Niro111-HQ/2023-06-19--14-35-06',
#@     'Niro111-HQ/2023-05-06--08-07-28',
#@     'Niro105-HQ/2023-06-20--14-24-37',
#@     'Niro111-HQ/2023-06-14--05-35-34',
#@     'Niro101-HQ/2023-06-20--08-50-05',
#@     'Niro111-HQ/2023-06-15--12-45-24',
#@     'Niro105-HQ/2023-06-12--05-12-55',
#@     'Niro110-HQ/2023-06-12--09-40-57',
#@     'Niro101-HQ/2023-06-16--05-46-17',
#@     'Niro101-HQ/2023-06-13--10-28-37',
#@     'Niro106-HQ/2023-06-19--11-18-40',
#@     'Niro105-HQ/2023-06-21--05-06-29',
#@     'Niro122-HQ/2023-06-14--05-07-07',
#@     'NIRO107-HQ/2024-11-25--13-04-16',
#@     'Niro122-HQ/2023-06-20--12-29-47',
#@     'Niro101-HQ/2023-06-14--14-11-45',
#@     'Niro101-HQ/2023-06-13--11-45-37',
#@     'Niro122-HQ/2023-06-13--16-14-14',
#@     'Niro122-HQ/2023-06-20--16-33-12',
#@     'Niro105-HQ/2023-06-13--05-41-35',
#@     'Niro105-HQ/2023-06-22--05-08-49',
#@     'Niro101-HQ/2023-06-13--11-21-08',
#@     'Niro110-HQ/2023-06-12--11-56-49',
#@     'Niro122-HQ/2023-06-20--16-03-17',
#@     'Niro115-HQ/2023-06-10--08-57-02',
#@     'Niro111-HQ/2023-06-14--13-56-51',
#@     'Niro111-HQ/2023-06-15--14-36-28',
#@     'Niro112-HQ/2023-06-16--08-45-21',
#@     'Niro110-HQ/2023-06-13--13-51-21',
#@     'Niro105-HQ/2023-06-12--04-55-07',
#@     'Niro101-HQ/2023-06-19--15-25-01',
#@     'Niro115-HQ/2023-06-11--07-55-01',
#@     'Niro111-HQ/2023-06-18--14-52-54',
#@     'Niro111-HQ/2023-06-15--12-20-24',
#@     'Niro122-HQ/2023-06-21--05-09-43',
#@     'Niro111-HQ/2023-06-19--11-12-24',
#@     'Niro101-HQ/2023-06-21--16-01-12',
#@     'Niro132-HQ/2023-06-09--15-56-36',
#@     'Niro115-HQ/2023-06-11--06-58-12',
#@     'Niro105-HQ/2023-06-12--18-49-39',
#@     'Niro101-HQ/2023-06-17--06-05-37',
#@     'Niro111-HQ/2023-06-13--17-29-14',
#@     'Niro111-HQ/2023-06-14--17-04-32',
#@     'Niro132-HQ/2023-06-09--13-53-58',
#@     'Niro120-HQ/2023-06-14--15-58-36',
#@     'Niro105-HQ/2023-06-11--08-52-00',
#@     'Niro110-HQ/2023-06-14--14-57-11',
#@     'Niro111-HQ/2023-06-17--10-54-08',
#@     'Niro110-HQ/2023-06-15--08-25-14',
#@     'Niro101-HQ/2023-06-13--08-04-28',
#@     'Niro110-HQ/2023-06-12--16-16-12',
#@     'Niro122-HQ/2023-06-21--10-17-22',
#@     'Niro115-HQ/2023-06-11--07-28-55',
#@     'Niro111-HQ/2023-06-14--14-26-04',
#@     'Niro111-HQ/2023-06-19--13-25-22',
#@     'Niro101-HQ/2023-06-14--06-37-31',
#@     'Niro115-HQ/2023-06-20--08-44-07',
#@     'Niro111-HQ/2023-06-19--05-47-27',
#@     'Niro111-HQ/2023-06-14--05-52-00',
#@     'Niro111-HQ/2023-06-16--13-37-07',
#@     'Niro122-HQ/2023-06-15--08-08-47',
#@     'Niro112-HQ/2023-06-15--11-22-18',
#@     'Niro110-HQ/2023-06-14--07-50-08',
#@     'Niro122-HQ/2023-06-15--05-05-58',
#@     'Niro110-HQ/2023-06-15--10-15-32',
#@     'Niro110-HQ/2023-06-12--06-04-27',
#@     'Niro111-HQ/2023-06-16--13-21-05',
#@     'Niro110-HQ/2023-06-14--16-53-03',
#@     'Niro110-HQ/2023-06-12--18-44-49',
#@ ]

---
_target_: rbyte.Dataset
_recursive_: false
_convert_: all

sources:
  #@ for drive_id in drives:
  (@=drive_id@):
    cam_front_left:
      index_column: "meta/ImageMetadata.cam_front_left/frame_idx"
      source:
        _target_: rbyte.io.PathTensorSource
        path: "${paths.data}/(@=drive_id@)/frames/cam_front_left.pii.mp4/576x324/{:09d}.jpg"
        decoder:
          _target_: simplejpeg.decode_jpeg
          _partial_: true
          colorspace: rgb
          fastdct: true
          fastupsample: true
  #@ end

samples:
  inputs:
    #@ for drive_id in drives:
    - input_id: (@=drive_id@)
      yaak_metadata_path: ${paths.data}/(@=drive_id@)/metadata.log
      waypoints_path: ${paths.data}/(@=drive_id@)/waypoints.json
      cam_front_left_path: ${paths.data}/(@=drive_id@)/frames/cam_front_left.pii.mp4/576x324
    #@ end

  executor:
    "":
      _target_: concurrent.futures.ProcessPoolExecutor
      mp_context:
        _target_: multiprocessing.get_context
        method: forkserver

    cam_front_left_meta:
      _target_: concurrent.futures.ThreadPoolExecutor

  storage: file_array
  run_folder: "outputs/dataset/yaak/train/samples"
  # run_folder: "${hydra:run.dir}/dataset/yaak/train/samples"
  scheduling_strategy: eager
  return_results: false
  persist_memory: false

  pipeline:
    _target_: pipefunc.Pipeline
    validate_type_annotations: false
    cache_type: disk
    cache_kwargs:
      cache_dir: ${paths.rbyte.cache}
    functions:
      - _target_: pipefunc.PipeFunc
        renames:
          path: yaak_metadata_path
        output_name: meta
        mapspec: "yaak_metadata_path[i] -> meta[i]"
        cache: true
        func:
          _target_: rbyte.io.YaakMetadataDataFrameBuilder
          fields:
            rbyte.io.yaak.proto.sensor_pb2.ImageMetadata:
              time_stamp:
                _target_: polars.Datetime
                time_unit: us
              frame_idx:
                _target_: polars.Int32
              camera_name:
                _target_: polars.Enum
                categories:
                  - cam_front_center
                  - cam_front_left
                  - cam_front_right
                  - cam_left_forward
                  - cam_right_forward
                  - cam_left_backward
                  - cam_right_backward
                  - cam_rear

            rbyte.io.yaak.proto.can_pb2.VehicleState:
              time_stamp:
                _target_: polars.Datetime
                time_unit: us
              turn_signal:
                _target_: polars.Int8

            rbyte.io.yaak.proto.can_pb2.VehicleMotion:
              time_stamp:
                _target_: polars.Datetime
                time_unit: us
              speed:
                _target_: polars.Float32
              gas_pedal_normalized:
                _target_: polars.Float32
              brake_pedal_normalized:
                _target_: polars.Float32
              steering_angle_normalized:
                _target_: polars.Float32
              gear:
                _target_: polars.Enum
                categories: ["0", "1", "2", "3"]

            rbyte.io.yaak.proto.sensor_pb2.Gnss:
              time_stamp:
                _target_: polars.Datetime
                time_unit: us
              latitude:
                _target_: polars.Float32
              longitude:
                _target_: polars.Float32

      - _target_: pipefunc.PipeFunc
        renames:
          path: waypoints_path
        output_name: waypoints_raw
        mapspec: "waypoints_path[i] -> waypoints_raw[i]"
        func:
          _target_: rbyte.io.DuckDbDataFrameBuilder
        bound:
          query: |
            LOAD spatial;
            SET TimeZone = 'UTC';
            SELECT TO_TIMESTAMP(timestamp)::TIMESTAMP AS timestamp,
                   heading,
                   ST_AsWKB(ST_Transform(geom, 'EPSG:4326', 'EPSG:25832', always_xy := true)) AS geometry
            FROM ST_Read('{path}')

      - _target_: pipefunc.PipeFunc
        renames:
          input: waypoints_raw
        output_name: waypoints
        mapspec: "waypoints_raw[i] -> waypoints[i]"
        func:
          _target_: rbyte.io.WaypointBuilder
          length: 10
          columns:
            points: geometry
            output: xy

      - _target_: pipefunc.PipeFunc
        output_name: aligned
        mapspec: "meta[i], waypoints[i] -> aligned[i]"
        func:
          _target_: makefun.create_function
          func_signature: "align(*, meta, waypoints)"
          func_impl:
            _target_: rbyte.io.DataFrameAligner
            separator: /
            fields:
              meta:
                ImageMetadata.cam_front_left:
                  key: time_stamp

                VehicleState:
                  key: time_stamp
                  columns:
                    turn_signal:
                      method: asof
                      tolerance: 100ms

                VehicleMotion:
                  key: time_stamp
                  columns:
                    speed:
                      method: interp
                    gas_pedal_normalized:
                      method: interp
                    brake_pedal_normalized:
                      method: interp
                    steering_angle_normalized:
                      method: interp
                    gear:
                      method: asof
                      tolerance: 100ms
                      strategy: nearest

                Gnss:
                  key: time_stamp
                  columns:
                    latitude:
                      method: asof
                      tolerance: 500ms
                      strategy: nearest
                    longitude:
                      method: asof
                      tolerance: 500ms
                      strategy: nearest

              waypoints:
                key: timestamp
                columns:
                  heading:
                    method: asof
                    strategy: nearest
                  xy:
                    method: asof
                    strategy: nearest

      - _target_: pipefunc.PipeFunc
        renames:
          path: cam_front_left_path
        output_name: cam_front_left_meta
        mapspec: "cam_front_left_path[i] -> cam_front_left_meta[i]"
        cache: true
        func:
          _target_: rbyte.io.PathDataFrameBuilder
          pattern: (?<frame_idx>\d+).jpg
          fields:
            frame_idx:
              _target_: polars.Int32


      - _target_: pipefunc.PipeFunc
        output_name: filtered
        mapspec: "aligned[i], cam_front_left_meta[i] -> filtered[i]"
        func:
          _target_: makefun.create_function
          func_signature: "df_query(*, query, aligned, cam_front_left_meta)"
          func_impl:
            _target_: rbyte.io.DataFrameDuckDbQuery
        bound:
          query: |
            LOAD spatial;
            WITH
              base_data AS (
                SELECT
                  *,
                  ST_Transform(
                    ST_Point("meta/Gnss/longitude", "meta/Gnss/latitude"),
                    'EPSG:4326', 'EPSG:25832', always_xy := true
                  ) AS ego_geom,
                  ST_GeomFromWKB("waypoints/xy") AS waypoints_geom
                FROM
                  aligned
                  SEMI JOIN cam_front_left_meta
                  ON aligned."meta/ImageMetadata.cam_front_left/frame_idx"
                  = cam_front_left_meta.frame_idx
                WHERE
                  aligned."meta/VehicleMotion/gear" == '3'
                  AND aligned."meta/VehicleMotion/speed" BETWEEN 0.0 AND 130.0
                  AND aligned."meta/VehicleMotion/gas_pedal_normalized" BETWEEN 0.0 AND 1.0
                  AND aligned."meta/VehicleMotion/brake_pedal_normalized" BETWEEN 0.0 AND 1.0
                  AND aligned."meta/VehicleMotion/steering_angle_normalized" BETWEEN -1.0 AND 1.0
                  AND COLUMNS(*) IS NOT NULL
              ),
              normalized_geometries AS (
                SELECT
                  *,
                  ST_Rotate(
                    ST_Translate(
                      waypoints_geom,
                      - ST_X(ego_geom),
                      - ST_Y(ego_geom)
                    ),
                    radians("waypoints/heading")
                  ) AS normalized_waypoints_geom
                FROM
                  base_data
              )
            SELECT
              * EXCLUDE (
                "meta/VehicleMotion/gear",
                waypoints_geom,
                normalized_waypoints_geom,
                ego_geom,
                "waypoints/xy",
                "waypoints/heading"
              ),
              [
                ST_X(ego_geom),
                ST_Y(ego_geom)
              ] AS "meta/Gnss/xy",
                (
                SELECT
                  list(
                    [ST_X(p.point_struct.geom), ST_Y(p.point_struct.geom)]
                    ORDER BY
                      p.point_struct.path
                  )
                FROM
                  UNNEST(ST_Dump(waypoints_geom)) AS p(point_struct)
              ) AS "waypoints/xy",
              (
                SELECT
                  list(
                    [ST_X(p.point_struct.geom), ST_Y(p.point_struct.geom)]
                    ORDER BY
                      p.point_struct.path
                  )
                FROM
                  UNNEST(ST_Dump(normalized_waypoints_geom)) AS p(point_struct)
              ) AS "waypoints/xy_normalized"
            FROM
              normalized_geometries
            WHERE
              ST_Contains(
                ST_MakeEnvelope(-150, -150, 150, 150),
                normalized_waypoints_geom
              )
            ORDER BY
              "meta/ImageMetadata.cam_front_left/time_stamp";

      - _target_: pipefunc.PipeFunc
        renames:
          input: filtered
        output_name: samples
        mapspec: "filtered[i] -> samples[i]"
        func:
          _target_: rbyte.io.DataFrameGroupByDynamic
          index_column: meta/ImageMetadata.cam_front_left/frame_idx
          every: 10i
          period: 111i
          closed: left
          gather_every: 1

      - _target_: pipefunc.PipeFunc
        output_name: samples_cast
        mapspec: "samples[i] -> samples_cast[i]"
        func:
          _target_: makefun.create_function
          func_signature: "df_query(*, query, samples)"
          func_impl:
            _target_: rbyte.io.DataFrameDuckDbQuery
        bound:
          query: |
            SELECT
                ("meta/ImageMetadata.cam_front_left/time_stamp"::TIMESTAMP[111]) AS "full_time",
                list_slice("meta/ImageMetadata.cam_front_left/time_stamp"::TIMESTAMP[111], 1, 60, 10) AS "meta/ImageMetadata.cam_front_left_past/time_stamp",
                list_slice("meta/ImageMetadata.cam_front_left/time_stamp"::TIMESTAMP[111],  61, 111, 1) AS "meta/ImageMetadata.cam_front_left_future/time_stamp",
                list_slice("meta/VehicleMotion/gas_pedal_normalized"::FLOAT[111], 1, 60, 10) AS "meta/VehicleMotion/gas_pedal_history",
                list_slice("meta/VehicleMotion/brake_pedal_normalized"::FLOAT[111], 1, 60, 10) AS "meta/VehicleMotion/brake_pedal_history",
                list_slice("meta/VehicleMotion/steering_angle_normalized"::FLOAT[111], 1, 60, 10) AS "meta/VehicleMotion/steering_angle_history",
                list_slice("meta/ImageMetadata.cam_front_left/time_stamp"::TIMESTAMP[111], 1, 60, 10) AS "meta/ImageMetadata.cam_front_left/time_stamp",
                list_slice("meta/ImageMetadata.cam_front_left/frame_idx"::INT32[111], 1, 60, 10) AS "meta/ImageMetadata.cam_front_left/frame_idx",
                list_slice("meta/VehicleMotion/gas_pedal_normalized"::FLOAT[111],  61, 111, 1) AS "meta/VehicleMotion/gas_pedal_normalized",
                list_slice("meta/VehicleMotion/brake_pedal_normalized"::FLOAT[111],  61, 111, 1) AS "meta/VehicleMotion/brake_pedal_normalized",
                list_slice("meta/VehicleMotion/steering_angle_normalized"::FLOAT[111],  61, 111, 1) AS "meta/VehicleMotion/steering_angle_normalized",
                flatten(("waypoints/xy_normalized"::FLOAT[2][10][111])[51]) AS "observation.state.waypoints",
                'Follow the waypoints while adhering to traffic rules and regulations' as "task"
            FROM
                samples
            WHERE
                len("meta/ImageMetadata.cam_front_left/frame_idx") = 111
                AND list_last("meta/ImageMetadata.cam_front_left/frame_idx") - list_first("meta/ImageMetadata.cam_front_left/frame_idx") == 110
                AND NOT (
                    list_max(list_slice("meta/VehicleMotion/gas_pedal_normalized", 1, 60, 10)) <= (1.0 / 255 + 0.001)
                    AND list_max(list_slice("meta/VehicleMotion/brake_pedal_normalized", 1, 60, 10)) <= (1.0 / 164 + 0.001)
                    AND list_max(list_slice("meta/VehicleMotion/speed", 1, 60, 10)) >= 25.0
                    AND ("meta/VehicleMotion/speed")[51] - ("meta/VehicleMotion/speed")[1] >= -0.05 * list_avg(list_slice("meta/VehicleMotion/speed", 1, 60, 10))
                )   

      - _target_: pipefunc.PipeFunc
        renames:
          keys: input_id
          values: samples_cast
        output_name: samples_aggregated
        func:
          _target_: rbyte.io.DataFrameConcater
          key_column: __input_id
