samples_rmind_learner:
  _target_: lerobot.utils.learned_pipeline.reye_monkey_patcher
  reye_pred_path: "/nasa/team-space/artifacts/predictions/yaak/cargpt/model-ujqd8m57:v5/2025-10-10--15-38-43"
  gby_config:
    _target_: rbyte.io.DataFrameGroupByDynamic
    index_column: batch/data/meta/ImageMetadata.cam_front_left/frame_idx
    every: 10i
    period: 61i
    closed: left
    gather_every: 1
  query: |
    SELECT list_slice("policy/prediction_value/continuous/gas_pedal"::FLOAT[7], 1, 6, 1) AS "meta/VehicleMotion/gas_pedal_history",
        list_slice("policy/prediction_value/continuous/brake_pedal"::FLOAT[7], 1, 6, 1) AS "meta/VehicleMotion/brake_pedal_history",
        list_slice("policy/prediction_value/continuous/steering_angle"::FLOAT[7], 1, 6, 1) AS "meta/VehicleMotion/steering_angle_history",
        ("policy/prediction_value/continuous/gas_pedal")[7] AS "meta/VehicleMotion/gas_pedal_normalized",
        ("policy/prediction_value/continuous/brake_pedal")[7] AS "meta/VehicleMotion/brake_pedal_normalized",
        ("policy/prediction_value/continuous/steering_angle")[7] AS "meta/VehicleMotion/steering_angle_normalized",
        ("batch/data/meta/ImageMetadata.cam_front_left/frame_idx")[7] AS "batch/data/meta/ImageMetadata.cam_front_left/frame_idx",
        ("batch/data/meta/ImageMetadata.cam_front_left/time_stamp")[7] AS "batch/data/meta/ImageMetadata.cam_front_left/time_stamp",
        ("batch/meta/input_id")[7] AS "batch/meta/input_id",
    FROM samples
    WHERE len("batch/data/meta/ImageMetadata.cam_front_left/frame_idx") = 7
    AND list_last("batch/data/meta/ImageMetadata.cam_front_left/frame_idx")
    - list_first("batch/data/meta/ImageMetadata.cam_front_left/frame_idx") == 60
    AND ("batch/meta/input_id")[7] in 
  drives_train:
    - 'Niro115-HQ/2023-05-16--10-47-33'
    - 'Niro104-HQ/2022-12-20--13-57-20'  
    - 'Niro102-HQ/2022-12-03--11-30-20'
    - 'Niro122-HQ/2023-04-05--12-06-39'
  drives_test:
    - 'Niro107-HQ/2023-05-12--12-05-15'

samples_rmind_expert:
  _target_: lerobot.utils.learned_pipeline.reye_monkey_patcher
  reye_pred_path: "/nasa/team-space/artifacts/predictions/yaak/cargpt/model-ujqd8m57:v5/2025-10-10--15-38-43"
  gby_config:
    _target_: rbyte.io.DataFrameGroupByDynamic
    index_column: batch/data/meta/ImageMetadata.cam_front_left/frame_idx
    every: 10i
    period: 61i
    closed: left
    gather_every: 1
  query: |
    SELECT list_slice("policy/ground_truth/continuous/gas_pedal"::FLOAT[7], 1, 6, 1) AS "meta/VehicleMotion/gas_pedal_history",
        list_slice("policy/ground_truth/continuous/brake_pedal"::FLOAT[7], 1, 6, 1) AS "meta/VehicleMotion/brake_pedal_history",
        list_slice("policy/ground_truth/continuous/steering_angle"::FLOAT[7], 1, 6, 1) AS "meta/VehicleMotion/steering_angle_history",
        ("policy/ground_truth/continuous/gas_pedal")[7] AS "meta/VehicleMotion/gas_pedal_normalized",
        ("policy/ground_truth/continuous/brake_pedal")[7] AS "meta/VehicleMotion/brake_pedal_normalized",
        ("policy/ground_truth/continuous/steering_angle")[7] AS "meta/VehicleMotion/steering_angle_normalized",
        ("batch/data/meta/ImageMetadata.cam_front_left/frame_idx")[7] AS "batch/data/meta/ImageMetadata.cam_front_left/frame_idx",
        ("batch/data/meta/ImageMetadata.cam_front_left/time_stamp")[7] AS "batch/data/meta/ImageMetadata.cam_front_left/time_stamp",
        ("batch/meta/input_id")[7] AS "batch/meta/input_id",
    FROM samples
    WHERE len("batch/data/meta/ImageMetadata.cam_front_left/frame_idx") = 7
    AND list_last("batch/data/meta/ImageMetadata.cam_front_left/frame_idx")
    - list_first("batch/data/meta/ImageMetadata.cam_front_left/frame_idx") == 60
    AND ("batch/meta/input_id")[7] in 
  drives_train:
    - 'Niro115-HQ/2023-05-16--10-47-33'
    - 'Niro104-HQ/2022-12-20--13-57-20'  
    - 'Niro102-HQ/2022-12-03--11-30-20'
    - 'Niro122-HQ/2023-04-05--12-06-39'
  drives_test:
    - 'Niro107-HQ/2023-05-12--12-05-15'

samples_smolvla_learner:
  _target_: lerobot.utils.learned_pipeline.reye_monkey_patcher
  reye_pred_path: "/nasa/team-space/artifacts/predictions/lerobot/policy_smolvla-seed_1000-dataset_yaak-ai_L2D-560000:v3/all_mlp_stride_10"
  gby_config:
    _target_: rbyte.io.DataFrameGroupByDynamic
    index_column: batch/data/meta/ImageMetadata.cam_front_left/frame_idx
    every: 10i
    period: 61i
    closed: left
    gather_every: 1
  query: |
    SELECT list_slice("predictions/policy/prediction_value/continuous/gas_pedal"::FLOAT[7], 1, 6, 1) AS "meta/VehicleMotion/gas_pedal_history",
        list_slice("predictions/policy/prediction_value/continuous/brake_pedal"::FLOAT[7], 1, 6, 1) AS "meta/VehicleMotion/brake_pedal_history",
        list_slice("predictions/policy/prediction_value/continuous/steering_angle"::FLOAT[7], 1, 6, 1) AS "meta/VehicleMotion/steering_angle_history",
        ("predictions/policy/prediction_value/continuous/gas_pedal")[7] AS "meta/VehicleMotion/gas_pedal_normalized",
        ("predictions/policy/prediction_value/continuous/brake_pedal")[7] AS "meta/VehicleMotion/brake_pedal_normalized",
        ("predictions/policy/prediction_value/continuous/steering_angle")[7] AS "meta/VehicleMotion/steering_angle_normalized",
        ("batch/data/meta/ImageMetadata.cam_front_left/frame_idx")[7] AS "batch/data/meta/ImageMetadata.cam_front_left/frame_idx",
        ("batch/data/meta/ImageMetadata.cam_front_left/time_stamp")[7] AS "batch/data/meta/ImageMetadata.cam_front_left/time_stamp",
        ("batch/meta/input_id")[7] AS "batch/meta/input_id",
    FROM samples
    WHERE len("batch/data/meta/ImageMetadata.cam_front_left/frame_idx") = 7
    AND list_last("batch/data/meta/ImageMetadata.cam_front_left/frame_idx")
    - list_first("batch/data/meta/ImageMetadata.cam_front_left/frame_idx") == 60
    AND ("batch/meta/input_id")[7] in 
  drives_train:
    - 'Niro115-HQ/2023-05-16--10-47-33'
    - 'Niro104-HQ/2022-12-20--13-57-20'  
    - 'Niro102-HQ/2022-12-03--11-30-20'
    - 'Niro122-HQ/2023-04-05--12-06-39'
  drives_test:
    - 'Niro107-HQ/2023-05-12--12-05-15'


samples_smolvla_expert:
  _target_: lerobot.utils.learned_pipeline.reye_monkey_patcher
  reye_pred_path: "/nasa/team-space/artifacts/predictions/lerobot/policy_smolvla-seed_1000-dataset_yaak-ai_L2D-560000:v3/all_mlp_stride_10"
  gby_config:
    _target_: rbyte.io.DataFrameGroupByDynamic
    index_column: batch/data/meta/ImageMetadata.cam_front_left/frame_idx
    every: 10i
    period: 61i
    closed: left
    gather_every: 1
  query: |
    SELECT list_slice("predictions/policy/ground_truth/continuous/gas_pedal"::FLOAT[7], 1, 6, 1) AS "meta/VehicleMotion/gas_pedal_history",
        list_slice("predictions/policy/ground_truth/continuous/brake_pedal"::FLOAT[7], 1, 6, 1) AS "meta/VehicleMotion/brake_pedal_history",
        list_slice("predictions/policy/ground_truth/continuous/steering_angle"::FLOAT[7], 1, 6, 1) AS "meta/VehicleMotion/steering_angle_history",
        ("predictions/policy/ground_truth/continuous/gas_pedal")[7] AS "meta/VehicleMotion/gas_pedal_normalized",
        ("predictions/policy/ground_truth/continuous/brake_pedal")[7] AS "meta/VehicleMotion/brake_pedal_normalized",
        ("predictions/policy/ground_truth/continuous/steering_angle")[7] AS "meta/VehicleMotion/steering_angle_normalized",
        ("batch/data/meta/ImageMetadata.cam_front_left/frame_idx")[7] AS "batch/data/meta/ImageMetadata.cam_front_left/frame_idx",
        ("batch/data/meta/ImageMetadata.cam_front_left/time_stamp")[7] AS "batch/data/meta/ImageMetadata.cam_front_left/time_stamp",
        ("batch/meta/input_id")[7] AS "batch/meta/input_id",
    FROM samples
    WHERE len("batch/data/meta/ImageMetadata.cam_front_left/frame_idx") = 7
    AND list_last("batch/data/meta/ImageMetadata.cam_front_left/frame_idx")
    - list_first("batch/data/meta/ImageMetadata.cam_front_left/frame_idx") == 60
    AND ("batch/meta/input_id")[7] in 
  drives_train:
    - 'Niro115-HQ/2023-05-16--10-47-33'
    - 'Niro104-HQ/2022-12-20--13-57-20'  
    - 'Niro102-HQ/2022-12-03--11-30-20'
    - 'Niro122-HQ/2023-04-05--12-06-39'
  drives_test:
    - 'Niro107-HQ/2023-05-12--12-05-15'


samples_no_speed:
  _target_: lerobot.utils.learned_pipeline.reye_monkey_patcher
  reye_pred_path: "/nasa/team-space/artifacts/predictions/lerobot/policy_smolvla-seed_1000-dataset_yaak-ai_L2D-300000:v14/all_stride_1/train_mlp"
  every: 10
  # period: 101
  # future: 52
  period: 111
  future: 61