# @package _global_

---
defaults:
  - /paths: yaak/default
  - /model: smolvla
  - /datamodule: yaak/predict
  - _self_

device: cuda
dtype: torch.float16

job_name: onnx-smolvla-560000:v3-n10
export_vision_separately: true

artifacts_dir: ${hydra:run.dir}


shape_kwargs:
  _recursive_: true
  _convert_: all
  strict: true
  dynamic_shapes:
    batch:
      observation.images.front_left:
        - _target_: torch.export.dynamic_shapes.Dim.STATIC
        - _target_: torch.export.dynamic_shapes.Dim
          name: obs_history
          min: 1
          max: 6
        - _target_: torch.export.dynamic_shapes.Dim.STATIC
        - _target_: torch.export.dynamic_shapes.Dim.STATIC
        - _target_: torch.export.dynamic_shapes.Dim.STATIC
      observation.state.vehicle:
        - _target_: torch.export.dynamic_shapes.Dim.STATIC
        - _target_: torch.export.dynamic_shapes.Dim
          name: obs_history
          min: 1
          max: 6
        - _target_: torch.export.dynamic_shapes.Dim.STATIC
      observation.state.waypoints:
        - _target_: torch.export.dynamic_shapes.Dim.STATIC
        - _target_: torch.export.dynamic_shapes.Dim
          name: obs_history
          min: 1
          max: 6
        - _target_: torch.export.dynamic_shapes.Dim.STATIC


embedding_kwargs:
  _recursive_: true
  _convert_: all
  f: ${hydra:run.dir}/vision/embedding_dynamic.onnx
  artifacts_dir: ${hydra:run.dir}/vision
  resize_in_episode_construction: True
  dynamic_shapes: ${shape_kwargs}
  output_names:
    - prefix_embs
    - prefix_pad_masks
    - prefix_att_masks

action_kwargs:
  _recursive_: true
  _convert_: all
  f: ${hydra:run.dir}/action/action3.onnx
  artifacts_dir: ${hydra:run.dir}/action
  num_steps: 3
  action_dim: 3
  output_names:
    - actions_gbs

dynamo_kwargs:
  _recursive_: true
  _convert_: all
  strict: true


onnx_kwargs:
  _recursive_: true
  _convert_: all
  dynamo: true
  external_data: false
  optimize: true
  verify: true
  report: true
  dump_exported_program: true
  opset_version: 19
  do_constant_folding: true

