# @package _global_

---
defaults:
  - /paths: yaak/default
  - /model: smolvla
  - /datamodule: yaak/predict
  - _self_

device: cuda
dtype: torch.float16

job_name: onnx-smolvla-560000:v3-n10
export_vision_separately: true

dynamo_kwargs:
  _recursive_: true
  _convert_: all
  strict: true

artifacts_dir: ${hydra:run.dir}

vision_kwargs:
  _recursive_: true
  _convert_: all
  f: ${hydra:run.dir}/vision/siglip.onnx
  artifacts_dir: ${hydra:run.dir}/vision

shape_kwargs:
  _recursive_: true
  _convert_: all
  strict: true
  dynamic_shapes:
    images:
      - _target_: torch.export.dynamic_shapes.Dim
        name: batch_size
        min: 1
        max: 6
      - _target_: torch.export.dynamic_shapes.Dim.STATIC
      - _target_: torch.export.dynamic_shapes.Dim.STATIC
      - _target_: torch.export.dynamic_shapes.Dim.STATIC
    patch_attention_mask:
      - _target_: torch.export.dynamic_shapes.Dim
        name: batch_size
        min: 1
        max: 6
      - _target_: torch.export.dynamic_shapes.Dim.STATIC
      - _target_: torch.export.dynamic_shapes.Dim.STATIC 
lm_expert_kwargs:
  _recursive_: true
  _convert_: all
  f: ${hydra:run.dir}/lm_expert/lm_expert.onnx
  artifacts_dir: ${hydra:run.dir}/lm_expert

onnx_kwargs:
  _recursive_: true
  _convert_: all
  dynamo: true
  external_data: false
  optimize: true
  verify: true
  report: true
  dump_exported_program: true
  opset_version: 19
  do_constant_folding: true
  dynamic_shapes:
    images:
      - _target_: torch.export.dynamic_shapes.Dim
        name: batch_size
        min: 1
        max: 6
      - _target_: torch.export.dynamic_shapes.Dim.STATIC
      - _target_: torch.export.dynamic_shapes.Dim.STATIC
      - _target_: torch.export.dynamic_shapes.Dim.STATIC
    patch_attention_mask:
      - _target_: torch.export.dynamic_shapes.Dim
        name: batch_size
        min: 1
        max: 6
      - _target_: torch.export.dynamic_shapes.Dim.STATIC
      - _target_: torch.export.dynamic_shapes.Dim.STATIC 